:root {
    --clr-climbinglogger-teal: hsl(198 56% 43%);
    --clr-training-tags-1: hsl(69 39% 74%);
    --clr-training-tags-2: hsl(244 39% 74%);
    --clr-training-tags-3: hsl(32 39% 74%);
}

html {
    box-sizing: border-box;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
}

body {
    margin: 0;
    background-color: var(--clr-climbinglogger-teal);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    background: var(--clr-gradient-nav);
    align-items: center;
}

/*h1 {
    color: var(--clr-logo-text);
    filter: drop-shadow(var(--clr-nav-bg-shadow) 0.1em 0.1em 0.15em);
}*/

button {
    border: 0;
    border-radius: 1em;
    padding: 1rem;
}

.climbingloggerburner {
    background-color: var(--clr-climbinglogger-teal);
    overflow: hidden;
    max-height: 80vh;
}

.climbingloggerburner img {
    max-width: 100%;
    object-fit: cover;
}

.cta {
    background-color: #000;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.cta-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-button {
    background-color: #000;
    border: 1em solid white;
    border-radius: 2em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.cta-button a {
    color: #fff;
    text-decoration: none;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
}

.cta-button h1 {
    font-size: 4rem;
    line-height: 1;
}

.cta-button h2 {
    font-size: 1.25rem;
    line-height: 0.2;
}
.cta-button h3 {
    font-size: 1.25rem;
    line-height: 0.3;
}

/*.bugs {
    margin-bottom: -98%;
}*/

.training-themes {
    background-color: #000;
    color: #fff;
    margin: auto;
    padding-top: 2rem;
    flex-direction: column;
    overflow: hidden;
    gap: 1em;
}

.training-themes .tags {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow: hidden;
}

.training-themes .tags-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.training-themes .tags div {
    background-color: var(--clr-training-tags-1);
    border-radius: 1em;
    padding: 1em;
    color: #000;
}

.training-themes .tags div.shoulders {
    background-color: var(--clr-training-tags-2);
}

.training-themes .tags div.footwork {
    background-color: var(--clr-training-tags-3);
}

.training-themes div {
    align-items: center;
    margin: auto;
}

.training-themes .tags p {
    font-size: 1rem;
}

.training-themes p {
    text-align: center;
    font-size: 2rem;
   
}

.training-themes p span {
    font-weight: 900;
}

.climbinglogger-tag {
    background: linear-gradient(black 50%, var(--clr-climbinglogger-teal) 50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.climbinglogger-tag img {
    width: 100%;
    max-width: 1000px;
}

.climbinglogger-logo {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.climbinglogger-logo img {
    width: 100%;
    max-width: 1000px;
}

.exercises {
    background-color: var(--clr-climbinglogger-teal);
    color: #fff;
    flex-direction: column;
    overflow: hidden;
}

.exercises p {
    text-align: center;
    font-size: 2rem;
}

.motivation {
    background-color: var(--clr-climbinglogger-teal);
    color: #fff;
    flex-direction: column;
    overflow: hidden;
}

.motivation p {
    text-align: center;
    font-size: 2rem;
}

.cta-btn {
    background-color: var(--clr-nav-bg);
}

.cta-btn a {
    color: var(--clr-logo-text);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

section {
    display: flex;
    max-width: 100%;
}

p {
    margin: 0;
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
    margin: 0;
}

section p + p {
    margin-top: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2em;
    padding: 0;
}

li {
    flex-basis: 0;
    flex-grow: 1;
    padding: 2em 1em;
}

.usp-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

p.usp-emoji {
    text-align: center;
    font-size: 4rem;
}

p.usp-body {
    font-size: 1.5rem;
}

@media (min-width: 50rem) {
    ul {
        flex-direction: row;
        /*max-width: 60vw;*/
    }
    .climbingloggerburner img {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .cta {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        height: 20rem;
        padding-top: 0;
        max-height: 20vmax;
    }

    .cta .screenshot-session {
        order: 1;
        width: 33%;
        z-index: 1;
    }

    .cta .cta-wrap {
        order: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    .cta .bugs {
        width: 50%;
    }

    .cta .cta-button {
        width: 50%;
    }

    .cta-button h1 {
        font-size: 4vw;
        line-height: 1;
    }

    h1 {
        font-size: 8vw;
    }
}
